.all {
    background-color: #2b3e50;
    color: #ebebeb;
}

.header {
    background-color: #df691a;
    border: 1px solid #df691a;
    border-radius: 0 0 10px 10px;
}

.hed-inn {
    display: inline-flex;
    padding: 25px;
    /*width: 100%;*/
    width: 90%;
}

.status {
    font-size: 20px;
    align-self: flex-end;
    padding: 3px;
    margin-left: 70%;
    color: black;
    background-color: #ebebeb;
    border: 1px solid black;
    border-radius: 3px;
}

.headline {
    font-family: 'Open Sans Bold';
    font-size: 35px;
    line-height: 35px;
}

.footer {
    font-size: x-large;
    padding: 15px;
    text-align: right;
}

.content {
    display: flex;
    padding: 20px;
}

.marg {
    margin: 10px 5px 5px 0px;
}

.form-group {
    display: inline-block;
    line-height: 2px;
    width: 30%;
}

.btn {
    color: #ebebeb;
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 6px;
}

.form-control {
    line-height: 26px;
    color: #555555;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}

.form-control::-webkit-input-placeholder {
    padding-left: 5px;
}

#mes {
    line-height: 30px;
    font-size: 20px;
    width: 300px;
}

#sendarea {
    margin-left: 55%;
}

.control-label {
    font-size: 20px;
}

.chat {
    margin: 10px;
    border: 2px solid grey;
    background-color: snow;
    border-radius: 4px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-block {
    display: block;
    width: 70%;
}

#input {
    position: relative;
    left: 70%;
}

#send {
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: snow;
}

.in {
    background-color: #5bc0de;
    position: relative;
    left: 2%;
}

.out {
    position: relative;
    left: 37%;
    background-color: #f0ad4e;
}

.message {
    display: inline-flex;
    font-size: 20px;
    margin: 5px;
    min-height: 100px;
    width: 60%;
    border: 1px solid white;
    border-radius: 3px;
    text-align: center;
}

.sign {
    margin-bottom: 5px;
    margin-right: 5px;
    align-self: flex-end;
    color: #2b3e50;
}

.time {
    font-size: 15px;
    margin-left: 4%;
    align-self: flex-end;
    color: #2b3e50;
    margin-top: 0px;
    margin-bottom: 15px;
}

.text {
    margin: 5px;
    width: 80%;
}

.delete {
    align-self: center;
    color: grey;
}

li > a {
    margin-left: 5px;
    margin-top: 5px;
    color: black;
}

.holdcol::-webkit-input-placeholder {
    color: #d9534f;
}

.editInput {
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: #5bc0de;
    border: none;
    width: 70%;
}